:root {
  --papaya-whip: #eae0c7;
  --bone-white: #F9F6EE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--bone-white);
  font-family: "proxima-nova", sans-serif;
}

/* ========= HOME SECTION ========= */


/* ========= HEADER ========== */
.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0 2rem;
  position: relative;
}

/* ========= LOGO ========== */
.logo {
  margin-top: 2.2rem;
}

.logo:hover {
  cursor: pointer;
}

/* ========= MENU TOGGLE ========== */
.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 2.2rem;
  margin-left: auto;
  font-family: sans-serif;
}

/* ========= NAVBAR ========== */
.navbar {
  position: absolute;
  display: flex;
  gap: 3rem;
  top: 2.2rem;
  left: 30.5rem;
  z-index: 4;
}

.navbar a {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  font-weight: 300;
  font-family: "proxima-nova", sans-serif;
  transition: 0.15s;
}

.navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* ========= HERO CONTENT ========== */
.content {
  display: grid;
  grid-template-rows: auto auto auto;
}

.hero-title {
  position: absolute;
  top: 10rem;
  left: 2rem;
  font-size: 4rem;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  font-style: italic;
  z-index: -2;
}

.hero-bold {
  font-weight: 700;
  font-style: normal;
  
}

.hero-con {
  position: absolute;
  top: 16rem;
  right: 2rem;
  left: 60rem;
  font-size: 2rem;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  font-style: italic;
  z-index: -2;
}

.hero-con-bold {
  font-weight: 700;
  font-style: normal;

}

/* ========= HERO BOTTLE ========== */
.hero-bottle-wrapper {
  z-index: -2;
  position: relative;
  height: 45rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
}

.hero-bottle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;
  width: 29rem;
  display: flex;
  transform: rotate(30deg);
}

/* ========= SECTION INTRO ========== */
.section-wrapper{
 display: flexbox;
 flex-wrap: wrap;
 flex-shrink: 0;
 margin-left: 3rem;
 margin-right: 0rem;
}
.sec-title {
  position: absolute;
  margin-top: 38.5rem;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 100;
}

.tit-style{
  font-style: italic;
  color: #EBD204;
  font-weight: bold;
}

.intro-para{
  margin-top: 3rem;
  font-size: 1.5rem;
}

.Shop{
  margin-top: 1rem;
  font-size: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: black;
  color: whitesmoke;
  border-style: solid;
  transition: 0.15s;
}

.Shop:hover{
  cursor: pointer;
  background-color: var(--bone-white);
  color: black;
}

.Shop:active{
  background-color: black;
  color: whitesmoke;
}

.side-con-head{
  position: absolute;
  top: 42.7rem;
  margin-left: 64rem;
  margin-right: 2.5rem;
  font-size: 1.8rem;
  line-height: 4rem;
  font-weight: 800;
}

.side-head-one{
  position: absolute;
  top: 47rem;
  margin-left: 64rem;
  margin-right: 2.5rem;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  font-style: normal;
  color: #EBD204;
}



.head-one-con{
  position: absolute;
  top: 51rem;
  margin-left: 64.2rem;
  margin-right: 2.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 100;
}

.side-head-two{
  position: absolute;
  top: 56rem;
  margin-left: 64rem;
  margin-right: 2.5rem;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  font-style: normal;
  color: #EBD204;
}


.head-two-con{
  position: absolute;
  top: 60rem;
  margin-left: 64.2rem;
  margin-right: 2.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 100;
}

.side-head-three{
  position: absolute;
  top: 65rem;
  margin-left: 64rem;
  margin-right: 2.5rem;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  font-style: normal;
  color: #EBD204;
}

.head-three-con{
  position: absolute;
  top: 69rem;
  margin-left: 64.2rem;
  margin-right: 2.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 100;
}

#Skincare {
  margin-top: 10rem;
  margin-left: 2rem;
  height: 100vh;
}

.Skincare-heading{
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.Skincare-quote{
  text-align: center;
  margin-top: 2rem;
  font-size: 4rem;
  font-family: "proxima-nova", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.quote-yellow{
  font-weight: 700;
  font-style: normal;
}
